.leftContent,
.rightContent {
  float: left;
  border: 2px solid grey;
  padding: 20px;
  height: 350px;
  width: max-content;
  position: relative;
}

.submitLogin {
  max-width: 150px;
}
.submitRegister {
  max-width: 200px;
}
.leftContent {
  margin-right: 20px;
}

.textError {
  color: red;
  margin-top: -26px;
  margin-bottom: 8px;
}
